:root {
    --white-color: #ffffff;
    --gray-color: #e3e8eb;
    --light-gray-color: #f1f3f4;
    --dark-gray-color: #3c4043;
    --light-blue-color: #0a95ff;
    --black-color: #000;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--gray-color, 'gray');
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--black-color, black);
}

.root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#toolbar,
.ql-container {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: -8px 8px 13px #ededed, 8px -8px 13px #ffffff;
    margin: 10px 0;
}

.ql-container {
    min-height: 300px;
}

.ql-view-container {
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: -8px 8px 13px #ededed, 8px -8px 13px #ffffff;
}

.view-laboratory #toolbar {
    display: none;
}

#toolbar {
    position: sticky;
    z-index: 100;
    top: 10px;
}
