.laboratories-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.laboratory-link {
    display: block;
    position: relative;
}

.laboratory_icons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.laboratory_icons .icon {
    font-size: 18px;
}

.laboratory_icons .icon:hover {
    transform: scale(1.2);
}

.laboratory_icons .icon:not(:last-of-type) {
    margin-right: 8px;
}

.laboratory-item {
    width: 120px;
    height: 150px;
    background-color: var(--white-color, white);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.laboratory-item:hover {
    background-color: var(--light-gray-color, gray);
}

.create-laboratory {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.create-laboratory-icon {
    font-size: 50px;
}
.create-laboratory:hover .create-laboratory-icon {
    transform: scale(1.2);
}
